# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build
build
dist

# Tests
coverage
src/**/*.test.ts
src/**/*.test.tsx
src/**/*.spec.ts
src/**/*.spec.tsx

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Misc
*.log
.DS_Store
README.md
public/*.md
