# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build
dist
build

# Tests
coverage
*.test.ts
*.spec.ts
test

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Misc
*.log
.DS_Store
README.md
